* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-primary: 'Great Vibes', sans-serif;
    --font-second: 'Open Sans', sans-serif;

    --color-primary: #f8f5f1;
    --color-second: #c59d5f;
    --color-third: #102a42;
    --color-default: #ffffff;
}

body {
    background-color: var(--color-primary);
}

main {
    display: flex;
    flex-direction: column;
}

button {
    border: 1px solid var(--color-second);
    background-color: transparent;
    border: none;
    color: #c59d5f;
    cursor: pointer;
    transition: 300ms linear;
}

button:hover {
    transform: rotate(90deg);
}


.title-page {
    font-family: var(--font-primary);
    font-size: 2rem;
    text-align: center;
    margin-top: 15vh;
    margin-bottom: 1rem;
    color: #c59d5f;
    letter-spacing: 0.25rem;
}

.questions {
    margin: 0 auto;
    width: 80vw;
}

.question {
    font-family: var(--font-second);
    color: var(--color-third);
    letter-spacing: 0.25rem;
    background-color: #ffffff;
    margin-top: 2.5rem;
    padding: 1.5rem;
    border-radius: .5rem;
    box-shadow: 0px 0px 9px 0px #0000001a;
}

.question-title-one, .question-title-two, .question-title-three {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .8rem;

    background: var(--color-default);
}

.question-text-one, .question-text-two, .question-text-three {
    display: none;
    letter-spacing: 1px;
}

.text-active {
    display: block;
    border-top: 1px solid;
    padding-top: 1.5rem;
    color: #979797;
}



@media (min-width: 768px) {

    .title-page {
        font-size: 2.5rem;
    }

    .questions {
        max-width: 45rem;
    }
    
    .question-title-one, .question-title-two, .question-title-three {
        font-size: 1rem;
    }

}

@keyframes animButtonOff {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(90deg);
	}
}

@keyframes animButtonHover {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(90deg);
	}
}